<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">
	<!-- 일반회원 마이페이지 - 정보조회 -->
	<!-- memberMyPage.jsp에서 사용 -->
	<select id="selectMemberMypageInfo" parameterType="int"
		resultType="MemberMypageInfoDTO">
		SELECT
		U.USER_NUMBER AS userNumber,
		U.USER_ID AS userId,
		U.USER_NAME AS userName,
		U.USER_PHONE AS userPhone,
		TO_CHAR(M.MEMBER_DOB, 'YYYY.MM.DD') AS memberDob,
		M.MEMBER_GENDER AS
		memberGender,
		M.JOB_NUMBER AS jobNumber,
		J.JOB_NAME AS jobName,
		TO_CHAR(JR.JOB_RESULT_CONFIRM_DATE, 'YYYY.MM.DD') AS jobConfirmDate
		FROM TBL_USER U
		JOIN TBL_MEMBER M
		ON U.USER_NUMBER = M.USER_NUMBER
		LEFT
		JOIN TBL_JOB_GROUP J
		ON M.JOB_NUMBER = J.JOB_NUMBER
		LEFT JOIN (
		SELECT
		USER_NUMBER,
		JOB_RESULT_CONFIRM_DATE,
		ROW_NUMBER() OVER (
		PARTITION BY
		USER_NUMBER
		ORDER BY JOB_RESULT_CONFIRM_DATE DESC NULLS LAST,
		JOB_RESULT_NUMBER DESC
		) AS RN
		FROM TBL_JOB_RESULT
		WHERE
		JOB_RESULT_STATUS = '판정완료'
		) JR
		ON M.USER_NUMBER = JR.USER_NUMBER
		AND
		JR.RN = 1
		WHERE U.USER_NUMBER = #{value}
	</select>

	<!-- 일반회원 마이페이지 - 정보수정 전 비밀번호 확인 -->
	<!-- 사용페이지 : memberCheckPw.jsp -->
	<select id="checkMemberPw" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE USER_NUMBER =
		#{userNumber}
		AND
		USER_PW = #{userPw}
		AND USER_TYPE = '일반회원'
	</select>

	<!-- 일반회원 마이페이지 - 전화번호 수정 -->
	<!-- 사용페이지 : memberMypageEdit.jsp -->
	<update id="updateMemberPhone" parameterType="map">
		UPDATE TBL_USER
		SET
		USER_PHONE = #{userPhone}
		WHERE USER_NUMBER = #{userNumber}
		AND
		USER_TYPE = '일반회원'
	</update>

	<!-- 일반회원 마이페이지 - 비밀번호 수정 -->
	<!-- 사용페이지 : memberMyPageEdit.jsp -->
	<update id="updateMemberPw" parameterType="map">
		UPDATE TBL_USER
		SET
		USER_PW = #{newUserPw}
		WHERE USER_NUMBER = #{userNumber}
		AND
		USER_TYPE =
		'일반회원'
	</update>

	<!-- 일반회원 마이페이지 - 나의 Q&A글 조회 -->
	<!-- 사용페이지 : myQnaList.jsp -->
	<select id="selectMyQnaList" parameterType="int"
		resultType="MypageQnaListDTO">
		SELECT
		P.POST_NUMBER AS postNumber,
		P.POST_TITLE AS
		postTitle,
		C.COMPANY_NAME AS companyName,
		U.USER_ID AS userId,
		TO_CHAR(P.POST_DATE, 'YYYY.MM.DD') AS postDate,
		P.ANSWER_STATUS AS
		answerStatus
		FROM TBL_POST P
		JOIN TBL_USER U
		ON P.USER_NUMBER =
		U.USER_NUMBER
		JOIN TBL_COMPANY C
		ON
		P.COMPANY_NUMBER = C.COMPANY_NUMBER
		WHERE P.USER_NUMBER = #{value}
		AND P.POST_TYPE = 'QNA_POST'
		ORDER
		BY
		P.POST_NUMBER DESC
	</select>

	<!-- 일반회원 마이페이지 - 나의 Q&A글 총 개수 조회 -->
	<!-- 사용페이지 : myQnAList.jsp -->
	<select id="myQnaTotal" parameterType="int" resultType="int">
		SELECT
		COUNT(*)
		FROM TBL_POST
		WHERE POST_TYPE = 'QNA_POST'
		AND USER_NUMBER =
		#{value}
	</select>

	<!-- 일반회원 마이페이지 - Q&A글 삭제 -->
	<delete id="deleteMyQnaPosts" parameterType="map">
		DELETE FROM TBL_POST
		WHERE USER_NUMBER = #{userNumber}
		AND POST_TYPE =
		'QNA_POST'
		AND POST_NUMBER IN
		<foreach collection="postNumbers" item="postNumber" open="("
			separator="," close=")">
			#{postNumber}
		</foreach>
	</delete>


	<!-- 기업회원 마이페이지 - 기본정보조회 -->
	<!-- 사용 페이지: companyMyPage.jsp -->
	<select id="selectCompanyMemberMypageInfo" parameterType="int"
		resultType="CompanyMypageInfoDTO">
		SELECT
		U.USER_NUMBER AS userNumber,
		U.USER_ID AS userId,
		U.USER_NAME AS userName,
		U.USER_PHONE AS userPhone,
		C.COMPANY_NUMBER AS
		companyNumber,
		C.COMPANY_NAME AS companyName,
		C.COMPANY_BRN AS
		companyBrn,
		C.COMPANY_ADDRESS AS companyAddress,
		C.COMPANY_STATE AS
		companyState,
		CM.COMPANY_MANAGER_STATE AS companyManagerState
		FROM
		TBL_USER U
		JOIN TBL_COMPANY_MEMBER CM
		ON U.USER_NUMBER = CM.USER_NUMBER
		JOIN TBL_COMPANY C
		ON CM.COMPANY_NUMBER = C.COMPANY_NUMBER
		WHERE
		U.USER_NUMBER = #{value}
	</select>

	<!-- 기업회원 마이페이지 - 답변대기 QnA 목록 조회 -->
	<!-- 사용 페이지 : companyMyPage.jsp -->
	<select id="selectWaitingQnaListByCompanyUser"
		parameterType="int" resultType="MypageQnaListDTO">
		SELECT
		P.POST_NUMBER AS postNumber,
		P.POST_TITLE AS postTitle,
		C.COMPANY_NAME AS companyName,
		U.USER_ID AS
		userId,
		TO_CHAR(P.POST_DATE, 'YYYY.MM.DD') AS postDate,
		P.ANSWER_STATUS
		AS answerStatus
		FROM
		TBL_POST P
		JOIN TBL_USER U
		ON P.USER_NUMBER =
		U.USER_NUMBER
		JOIN
		TBL_COMPANY C
		ON P.COMPANY_NUMBER = C.COMPANY_NUMBER
		JOIN
		TBL_COMPANY_MEMBER CM
		ON C.COMPANY_NUMBER = CM.COMPANY_NUMBER
		WHERE
		P.POST_TYPE = 'QNA_POST'
		AND P.ANSWER_STATUS = '답변대기'
		AND CM.USER_NUMBER
		= #{value}
		AND CM.COMPANY_MANAGER_STATE = 'ACTIVE'
		ORDER BY
		P.POST_DATE
		DESC,
		P.POST_NUMBER DESC
	</select>

	<!-- 기업회원 마이페이지 - 로그인한 기업회원(userNumber) 기준 답변대기 Q&A 글 총 개수 -->
	<select id="compQnaTotal" parameterType="int" resultType="int">
		SELECT
		COUNT(*)
		FROM TBL_POST P
		JOIN TBL_COMPANY_MEMBER CM
		ON P.COMPANY_NUMBER =
		CM.COMPANY_NUMBER
		WHERE P.POST_TYPE = 'QNA_POST'
		AND P.ANSWER_STATUS =
		'답변대기'
		AND CM.USER_NUMBER = #{value}
		AND CM.COMPANY_MANAGER_STATE =
		'ACTIVE'
	</select>

	<!-- 기업회원 마이페이지 - 정보수정 전 비밀번호 확인 -->
	<!-- 사용 페이지 : companyCheckPw.jsp -->
	<select id="checkCompanyPw" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM TBL_USER
		WHERE USER_NUMBER =
		#{userNumber}
		AND
		USER_PW = #{userPw}
		AND USER_TYPE ='기업회원'
	</select>

	<!-- 기업회원 마이페이지 - 전화번호 수정 -->
	<!-- 사용 페이지: companyMypageEdit.jsp -->
	<update id="updateCompanyPhone" parameterType="map">
		UPDATE TBL_USER
		SET USER_PHONE = #{userPhone}
		WHERE USER_NUMBER = #{userNumber}
		AND
		USER_TYPE = '기업회원'
	</update>

	<!-- 기업회원 마이페이지 - 비밀번호 수정 -->
	<!-- 사용 페이지: companyMypageEdit.jsp -->
	<update id="updateCompanyPw" parameterType="map">
		UPDATE TBL_USER
		SET
		USER_PW = #{newUserPw}
		WHERE USER_NUMBER = #{userNumber}
		AND
		USER_TYPE =
		'기업회원'
	</update>

	<!-- 기업회원 마이페이지 - 기업정보페이지 등록 전 체크 -->
	<!-- 사용페이지 : companyPageForm.jsp -->
	<select id="countCompanyPageByUserNumber" parameterType="int"
		resultType="int">
		SELECT COUNT(*)
		FROM TBL_COMP_INFO CI
		JOIN TBL_COMPANY_MEMBER
		CM
		ON CI.COMPANY_NUMBER = CM.COMPANY_NUMBER
		WHERE CM.USER_NUMBER =
		#{value}
	</select>

	<!-- 기업회원 마이페이지 - 기업정보페이지 상세 조회 -->
	<!-- 사용페이지 : companyPageForm.jsp (수정 시 기존 기업정보 출력) -->
	<select id="selectCompanyPageDetail" parameterType="int"
		resultType="com.ccc.company.dto.CompanyDetailDTO">
		SELECT
		C.COMPANY_NUMBER AS companyNumber,
		C.COMPANY_NAME AS
		companyName,
		C.COMPANY_ADDRESS AS companyAddress,
		C.COMPANY_STATE AS
		companyState,
		C.COMPANY_BRN AS companyBrn,
		F.FILE_PATH AS filePath,
		CI.COMP_CEO_NAME
		AS compCeoName,
		CI.COMP_FND_YEAR AS compFndYear,
		CI.COMP_EMPL_CNT AS
		compEmplCnt,
		CI.COMP_REV AS compRev,
		CI.COMP_CAP AS
		compCap,
		CI.COMP_TYPE AS compType,
		CI.COMP_SUMMARY AS compSummary,
		CI.COMP_TECH
		AS compTech,
		CI.COMP_MAIN_BIZ AS compMainBiz,
		CI.COMP_INFO
		AS compInfo,
		CI.COMP_SVC_HIST AS compSvcHist,
		JP.JOB_POST_PROFILE AS
		jobPostProfile,
		JP.JOB_POST_CONTENT AS jobPostContent,
		JP.JOB_POST_PROCESS AS
		jobPostProcess,
		JP.JOB_POST_METHOD AS
		jobPostMethod,
		TO_CHAR(JP.JOB_POST_DATE, 'YYYY.MM.DD') AS jobPostDate,
		JP.CAT1_IS_HIRING AS cat1IsHiring,
		JP.CAT2_IS_HIRING AS cat2IsHiring,
		JP.CAT3_IS_HIRING AS cat3IsHiring,
		JP.CAT4_IS_HIRING AS cat4IsHiring
		FROM TBL_COMPANY_MEMBER CM
		JOIN TBL_COMPANY C
		ON CM.COMPANY_NUMBER =
		C.COMPANY_NUMBER
		JOIN TBL_COMP_INFO CI
		ON C.COMPANY_NUMBER =
		CI.COMPANY_NUMBER
		LEFT JOIN TBL_FILE F
		ON C.COMPANY_NUMBER =
		F.COMPANY_NUMBER
		LEFT JOIN TBL_JOB_POST JP
		ON C.COMPANY_NUMBER =
		JP.COMPANY_NUMBER
		WHERE CM.USER_NUMBER = #{value}
	</select>

	<!-- 기업회원 마이페이지 - 기업정보페이지 등록(기업소개등록) -->
	<!-- 사용 페이지: companyPageForm.jsp -->
	<insert id="insertCompInfo" parameterType="CompanyInfoDTO">
		INSERT INTO
		TBL_COMP_INFO (
		COMPANY_NUMBER,
		COMP_CEO_NAME,
		COMP_FND_YEAR,
		COMP_EMPL_CNT,
		COMP_REV,
		COMP_CAP,
		COMP_TYPE,
		COMP_SUMMARY,
		COMP_TECH,
		COMP_MAIN_BIZ,
		COMP_INFO,
		COMP_SVC_HIST,
		COMP_PAGE_DATE
		) VALUES (
		#{companyNumber},
		#{compCeoName},
		#{compFndYear},
		#{compEmplCnt},
		#{compRev},
		#{compCap},
		#{compType},
		#{compSummary},
		#{compTech},
		#{compMainBiz},
		#{compInfo},
		#{compSvcHist},
		SYSDATE
		)
	</insert>

	<!-- 기업회원 마이페이지 - 기업정보페이지 등록(대표 이미지 저장) -->
	<!-- 사용 페이지 : companyPageForm.jsp -->
	<insert id="insertFile" parameterType="FileDTO">
		<selectKey keyProperty="fileNumber" resultType="int"
			order="BEFORE">
			SELECT SEQ_FILE_NUMBER.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO TBL_FILE (
		FILE_NUMBER,
		FILE_PATH,
		COMPANY_NUMBER
		) VALUES (
		#{fileNumber},
		#{filePath},
		#{companyNumber}
		)
	</insert>
	<!-- 기업회원 마이페이지 - 기업정보페이지 등록(채용공고등록) -->
	<!-- 사용 페이지 : companyPageForm.jsp -->
	<insert id="insertJobPost" parameterType="JobPostDTO">
		INSERT INTO
		TBL_JOB_POST (
		COMPANY_NUMBER,
		JOB_POST_PROFILE,
		JOB_POST_CONTENT,
		JOB_POST_PROCESS,
		JOB_POST_METHOD,
		JOB_POST_DATE,
		CAT1_IS_HIRING,
		CAT2_IS_HIRING,
		CAT3_IS_HIRING,
		CAT4_IS_HIRING
		) VALUES (
		#{companyNumber},
		#{jobPostProfile},
		#{jobPostContent},
		#{jobPostProcess},
		#{jobPostMethod},
		SYSDATE,
		#{cat1IsHiring},
		#{cat2IsHiring},
		#{cat3IsHiring},
		#{cat4IsHiring}
		)
	</insert>

	<!-- 기업회원 마이페이지 - 기업정보페이지 수정(기업소개 수정) -->
	<!-- 사용 페이지 : companyPageEdit.jsp -->
	<update id="updateCompInfo" parameterType="CompanyInfoDTO">
		UPDATE TBL_COMP_INFO
		SET COMP_CEO_NAME = #{compCeoName},
		COMP_FND_YEAR = #{compFndYear},
		COMP_EMPL_CNT = #{compEmplCnt},
		COMP_REV = #{compRev},
		COMP_CAP =
		#{compCap},
		COMP_TYPE = #{compType},
		COMP_SUMMARY = #{compSummary},
		COMP_TECH = #{compTech},
		COMP_MAIN_BIZ = #{compMainBiz},
		COMP_INFO =
		#{compInfo},
		COMP_SVC_HIST = #{compSvcHist},
		COMP_PAGE_DATE = SYSDATE
		WHERE COMPANY_NUMBER = #{companyNumber}
	</update>

	<!-- 기업회원 마이페이지 - 기업정보페이지 수정(대표 이미지 경로 수정) -->
	<update id="updateFileByUserNumber" parameterType="map">
		UPDATE
		TBL_FILE
		SET FILE_PATH = #{filePath}
		WHERE COMPANY_NUMBER = (
		SELECT
		COMPANY_NUMBER
		FROM TBL_COMPANY_MEMBER
		WHERE
		USER_NUMBER = #{userNumber}
		)
	</update>

	<!-- 기업회원 마이페이지 - 기업정보페이지 수정(채용정보수정) -->
	<!-- 사용 페이지 : companyPageEdit.jsp -->
	<update id="updateJobPost" parameterType="JobPostDTO">
		UPDATE TBL_JOB_POST
		SET
		JOB_POST_PROFILE = #{jobPostProfile},
		JOB_POST_CONTENT =
		#{jobPostContent},
		JOB_POST_PROCESS = #{jobPostProcess},
		JOB_POST_METHOD = #{jobPostMethod},
		JOB_POST_DATE = SYSDATE,
		CAT1_IS_HIRING = #{cat1IsHiring},
		CAT2_IS_HIRING = #{cat2IsHiring},
		CAT3_IS_HIRING = #{cat3IsHiring},
		CAT4_IS_HIRING = #{cat4IsHiring}
		WHERE COMPANY_NUMBER = #{companyNumber}
	</update>

	<!-- 기업회원 마이페이지 - 기업정보페이지 삭제 -->
	<delete id="deleteJobPostByUserNumber" parameterType="int">
		DELETE FROM TBL_JOB_POST
		WHERE COMPANY_NUMBER = (
		SELECT COMPANY_NUMBER
		FROM TBL_COMPANY_MEMBER
		WHERE
		USER_NUMBER = #{value}
		)
	</delete>

	<delete id="deleteFileByUserNumber" parameterType="int">
		DELETE FROM TBL_FILE
		WHERE COMPANY_NUMBER = (
		SELECT COMPANY_NUMBER
		FROM TBL_COMPANY_MEMBER
		WHERE
		USER_NUMBER = #{value}
		)
	</delete>

	<delete id="deleteCompInfoByUserNumber" parameterType="int">
		DELETE FROM TBL_COMP_INFO
		WHERE COMPANY_NUMBER = (
		SELECT COMPANY_NUMBER
		FROM TBL_COMPANY_MEMBER
		WHERE
		USER_NUMBER = #{value}
		)
	</delete>

	<!-- 일반회원 마이페이지 - 회원탈퇴 -->
	<delete id="deleteMemberByUserNumber" parameterType="int">
		DELETE FROM
		TBL_USER
		WHERE USER_NUMBER = #{value}
		AND USER_TYPE = '일반회원'
	</delete>

	<!-- 기업회원 마이페이지 - 회원탈퇴 -->
	<delete id="deleteCompanyUserByUserNumber" parameterType="int">
		DELETE
		FROM TBL_USER
		WHERE USER_NUMBER = #{value}
		AND USER_TYPE = '기업회원'
	</delete>
</mapper>