.rm-body{
    margin:0;
    background:#ffffff;
}

.rm-container{
    width:1300px;
    margin:40px auto;
    background:#c9cfe0;
    padding:30px;
}

.rm-main{
    display:flex;
    margin-top:30px;
    
}


.rm-leftbar{
    width: 200px;
    background: #adbbdb;
    padding-top: 20px;
}

.rm-left-item {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background: #adbbdb; 
}

/* 링크 */
.rm-left-item a {
    color: black;          
    text-decoration: none; 
    display: block;
}


.rm-left-item:hover {
    background: #949fca;    
}
.rm-left-item:hover a {
    color: white;           
}


.rm-left-item.rm-active {
    background: #8a8a8a;   
}
.rm-left-item.rm-active a {
    color: white;           
    font-weight: 700;
}


.rm-content{
    flex:1;
    background:#ffffff;
    padding:40px 60px;
    margin-left:20px;
}

/* 탭 */
.rm-tabmenu{
    display:flex;
    justify-content:center;
    gap:80px;
    margin-bottom:40px;
    font-weight:bold;
}

.rm-tabmenu a{
    cursor:pointer;
    text-decoration:none;
    color:black;
}

/* 입력 한 줄 정렬 */
.rm-img div,
.rm-sec100 div,
.rm-sec200 div,
.rm-sec300 div,
.rm-sec400 div,
.rm-sec500 div,
.rm-sec600 div,
.rm-sec700 div,
.rm-sec800 div{
    display:flex;
    align-items:center;
    margin-bottom:12px;
}

/* label */
.rm-content label{
    width:160px;
}

/* input */
.rm-content input{
    flex:1;
    height:32px;
}

/* 섹션 제목 */
.rm-content h3{
    margin-top:45px;
    margin-bottom:25px;
}

/* 버튼 영역 */
.rm-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.rm-buttons button{
    border:none;
    padding:10px 30px;
    border-radius:6px;
    color:white;
    cursor:pointer;
}

.rm-btn1,
.rm-btn2{
    background:#7d84e6;
}

.rm-btn3{
    background:#e07d7d;
}

/* 업로드 버튼 */
.rm-upload-btn{
    margin-left:10px;
    padding:6px 12px;
}

.rm-img{
    margin-bottom:40px;
}