.qnaMgmt-body {
    margin: 0;
    background: #ffffff;
}

.qnaMgmt-ctr {
    width: 1300px;
    margin: 40px auto;
    background: #c9cfe0;
    padding: 30px;
}

.qnaMgmt-hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.qnaMgmt-title {
    background: #6b83d6;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.qnaMgmt-nav {
    display: flex;
    gap: 40px;
}

.qnaMgmt-nav a {
    background: #6b83d6;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
}

.qnaMgmt-main {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.qnaMgmt-main form {
    flex: 1;
}

.qna-leftbar {
    width: 200px;
    background: #adbbdb;
    padding-top: 20px;
}


.qna-left-item {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background: #adbbdb;
}


.qna-left-item a {
    color: black;
    text-decoration: none;
    display: block;
}


.qna-left-item:hover {
    background: #949fca;
}

.qna-left-item:hover a {
    color: white;
}


.qna-left-item.qna-active {
    background: #8a8a8a;
}

.qna-left-item.qna-active a {
    color: white;
    font-weight: 700;
}

.qnaMgmt-ct {
    flex: 1;
    background: white;
    padding: 40px;
}




.qnaMgmt-noticeBox {
    width: 100%;
    height: 200px;
    background: #eaeaea;
    padding: 10px;
}

.qnaMgmt-noticeBtn {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}

.qnaMgmt-noticeBtn button {
    background: #6b83d6;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}



.qnaMgmt-table {
    width: 100%;
}

.qnaMgmt-row {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.qnaMgmt-head {
    font-weight: bold;
}

.col1 {
    width: 80px;
}

.col2 {
    flex: 1;
}

.col3 {
    width: 120px;
}

.col4 {
    width: 120px;
}

.col5 {
    width: 120px;
    text-align: center;
}




.qnaMgmt-page {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.qnaMgmt-page span {
    cursor: pointer;
}

.qnaMgmt-page .active {
    color: #4c6ef5;
    font-weight: bold;
}




.qnaMgmt-del {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.qnaMgmt-del button {
    background: #d67b7b;
    border: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
}