.expoDetail-body {
    margin: 0;
    background: #ffffff;
}

.expoDetail-container {
    width: 1300px;
    margin: 40px auto;
    background: #c9cfe0;
    padding: 30px;
}

.expoDetail-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expoDetail-title {
    background: #6b83d6;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.expoDetail-menu1 {
    display: flex;
    gap: 40px;
}

.expoDetail-menu1 a {
    background: #6b83d6;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
}

.expoDetail-main {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.expoDetail-main form {
    flex: 1;
}



.expoDetail-leftbar {
    width: 200px;
    background: #adbbdb;
    padding-top: 20px;
}

.expoDetail-left-item {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background: #adbbdb;
}

.expoDetail-left-item a {
    color: black;
    text-decoration: none;
    display: block;
}

.expoDetail-left-item:hover {
    background: #949fca;
}

.expoDetail-left-item:hover a {
    color: white;
}

.expoDetail-left-item.expoDetail-active {
    background: #8a8a8a;
}

.expoDetail-left-item.expoDetail-active a {
    color: white;
    font-weight: 700;
}

.expoDetail-content {
    flex: 1;
    background: white;
    padding: 30px;
}

.expoDetail-tab {
    display: flex;
    margin-bottom: 20px;
}

.expoDetail-tab-item {
    flex: 1;
    background: #e6e6e6;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.expoDetail-tab-item a {
    text-decoration: none;
    color: black;
    display: block;
}

.expoDetail-active {
    background: white;
    font-weight: bold;
}

.expoDetail-row {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.expoDetail-row:hover {
    background: #f3f6ff;
}

.expoDetail-row div {
    flex: 1;
}

.expoDetail-head {
    font-weight: bold;
    background: #f2f2f2;
    cursor: default;
}

.expoDetail-company-list {
    margin-top: 20px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 15px 0;
}

.expoDetail-company-list p {
    margin: 10px 0;
    cursor: pointer;
}