.expoSchedule-body {
    margin: 0;
    background: #ffffff;
}

.expoSchedule-container {
    width: 1300px;
    margin: 40px auto;
    background: #c9cfe0;
    padding: 30px;
}

.expoSchedule-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expoSchedule-title {
    background: #6b83d6;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.expoSchedule-menu1 {
    display: flex;
    gap: 40px;
}

.expoSchedule-menu1 a {
    background: #6b83d6;
    color: white;
    padding: 10px 25px;
    border-radius: 6px;
    text-decoration: none;
}

.expoSchedule-menu1 a:hover {
    background: #5569c1;
}

.expoSchedule-logout {
    padding: 6px 12px;
}

.expoSchedule-logout:hover {
    background: #dcdcdc;
}

.expoSchedule-main {
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

.expoSchedule-main form {
    flex: 1;
}

.expoSchedule-leftbar {
    width: 200px;
    background: #adbbdb;
    padding-top: 20px;
}


.expoSchedule-left-item {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    background: #adbbdb;
}


.expoSchedule-left-item a {
    color: black;
    text-decoration: none;
    display: block;
}

.expoSchedule-left-item:hover {
    background: #949fca;
}

.expoSchedule-left-item:hover a {
    color: white;
}


.expoSchedule-left-item.expoSchedule-active {
    background: #8a8a8a;
}

.expoSchedule-left-item.expoSchedule-active a {
    color: white;
    font-weight: 700;
}

.expoSchedule-content {
    flex: 1;
    background: white;
    padding: 30px;
}

.expoSchedule-tab {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.expoSchedule-tab-item {
    flex: 1;
    background: #e6e6e6;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.expoSchedule-active {
    background: white;
    font-weight: bold;
    text-decoration: none;
}

.expoSchedule-tab-item a {
    text-decoration: none;
    color: black;
    display: block;
}

.expoSchedule-table {
    width: 100%;
}

.expoSchedule-row {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.expoSchedule-row div {
    flex: 1;
}

.expoSchedule-head {
    font-weight: bold;
    background: #f3f3f3;
}

.expoSchedule-page {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

.expoSchedule-page span {
    cursor: pointer;
}

.expoSchedule-page-active {
    color: #4c6ef5;
    font-weight: bold;
}

.expoSchedule-company {
    margin-top: 40px;
}

.expoSchedule-company-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}