<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="context.properties"></properties>
	
	<settings>
		<!-- 카멜케이스 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
		
		<!-- 쿼리 결과 필드가 null인 경우 누락되지 않도록 설정 -->
		<setting name="callSettersOnNulls" value="true"></setting>
		
		<!-- 쿼리에 보내는 파라미터가 null인 경우 오류가 발생하는 것을 방지 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"></setting>
	</settings>

	<!-- DTO 별칭 설정 -->
	<typeAliases>
		<package name="com.ccc.admin.dto"/>
		<package name="com.ccc.company.dto"/>
		<package name="com.ccc.expo.dto"/>
		<package name="com.ccc.job.dto"/>
		<package name="com.ccc.member.dto"/>
		<package name="com.ccc.mypage.dto"/>
		<package name="com.ccc.post.dto"/>
		<package name="com.ccc.qna.dto"/>
		<package name="com.ccc.roadmap.dto"/>
	</typeAliases>

	<environments default="oracle">
		<environment id="oracle">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${db.driver}"></property>
				<property name="url" value="${db.url}"></property>
				<property name="username" value="${db.username}"></property>
				<property name="password" value="${db.password}"></property>
			</dataSource>
		</environment>
	</environments>
	
	<!-- Mapper.xml 등록 추후 필요 -->
	<mappers>
		<mapper resource="mapper/admin/AdminMapper.xml"/>
		<mapper resource="mapper/company/CompanyAdMapper.xml"/>
		<mapper resource="mapper/company/CompanyInfoMapper.xml"/>
		<mapper resource="mapper/company/CompanyMapper.xml"/>
		<mapper resource="mapper/expo/ExpoMapper.xml"/>
		<mapper resource="mapper/job/JobMapper.xml"/>
		<mapper resource="mapper/main/MainMapper.xml"/>
		<mapper resource="mapper/member/MemberMapper.xml" />
		<mapper resource="mapper/mypage/MyPageMapper.xml" />
		<mapper resource="mapper/Post/PostMapper.xml" />
		<mapper resource="mapper/qna/QnaMapper.xml" />
		<mapper resource="mapper/roadmap/RoadmapMapper.xml" />
	</mappers>
</configuration>